body{
    background-image: linear-gradient(to right,rgb(59, 131, 238),rgb(170, 38, 247));
    background-repeat:no-repeat;
    padding-bottom: 9%;
    background-image: url("3.jpeg");
    background-size: 100%;
    width: 99%;
    height: 100%;
    overflow: hidden;
}
P.event{
   text-align: center;
    font-size: 30px;
     color: #fff;
      background-color: black;
       width:60%;
        margin:auto;
       height: fit-content;
      padding-top: 1.5%;
     border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   padding-bottom: 5px;
   margin-top: 137px;
   padding-right: 10px;
}
.Content{
    width:60%;
    background-color: #fff; 
   margin:auto;
   margin-top: auto;
   padding-right: 10px;
   padding-bottom: 15px;
}

label{
   font-size: 20px;
   margin-left: 19%;
   margin-right: 25px;
}
input{
  background:  rgb(226, 225, 225);
  padding: 5px 25px 5px ;
  overflow: auto;
    padding: 5px 25px 5px ;
   color:black;
 
 }

.Username{
  display:flex;
}

.p{
  margin-left: 19%;
  font-weight: 700;
}

button{
  background-color: red;
   text-align: center; 
    margin-left: 40%;
     border: #fff 5px solid;
      height: 50px;
       width: 20%;
      color: #fff;
     font-weight: 600;
    font-size: 90%;
   border-radius: 10px;
  letter-spacing: 0.5px;
}
select{
    background-color: rgb(224, 223, 223);
    padding: 5px 25px 5px ;
    overflow: auto; 
}

div.main.goals{
    margin-left: 380px;
    margin-top: -195px;
}

span.weight
,span.height{
  margin-left: 400px;
}

option{
    background-color: rgb(0, 0, 0);
    color: white;
}
.Gender.and.main.goals
,.Language.and.weight
,.focus.area.and.height{
  margin-left: -80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.Gender.and.main.goals{
  margin-top: -10px;
}

.weight {
  margin-left: 10%;
}

.height {
  margin-left: 10%;
}

.maingoal {
  margin-left: 12%;
}

select , input {
  font-weight: bold;
}